# Defaults
.DS_Store
node_modules
docker-compose.yml
docker-compose.*.yml

# Svelte
dist
package
.svelte-kit

# Yarn 3
.yarn/*
!.yarn/releases
!.yarn/plugins

# Env
.env
.env.*
!.env.sample

# Docker Compose
docker-compose.yml
